@import "../../assets/global-styles.less";

@header-blue-bg: #30b9f9;
@special-btn-bg: #b2e6fc;

// to fit comfortable on a Galazy S II and S5 (360px), but not on an iPhone 5/SE (320px) - no problem with later iPhones
@width-smaller-header: ~"(max-width: 476px)";

// size where the buttons start bumping into the logo & the menu items get smaller
@width-hide-special-btns: ~"(max-width: 359px)";

.main-header {
  background-color: @header-blue-bg;

  &.navbar-dark {
    align-items: flex-end;

    .logo-img {
      height: 86px;
      width: auto;

      @media @width-smaller-header {
        height: 70px;
      }
    }

    // position-absolute items
    .special-btns a {
      font-weight: 900;
      width: 175px;
      height: 40px;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
      color: @purple-bg;
      text-decoration: none;

      &.legalhelpinfo {
        background-color: white;
        right: 175px;

        @media @width-smaller-header {
          right: 126px;
        }
      }

      &.donate {
        background-color: @purple-bg;
        color: white;
        right: 0;
      }

      // smaller button size for smartphones
      @media @width-smaller-header {
        width: 126px;
        font-size: 13px;
      }

      @media @width-hide-special-btns {
        display: none;
      }

      // when buttons hit the logo show items inside collapse
      &.legalhelpinfo,
      &.donate {
        &:hover {
          background-color: @special-btn-bg;
          color: white;
          opacity: 1;
        }
      }
    }

    .navbar-brand {
      padding: 0.9rem 0;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          padding: 0.55rem 0.9rem;
          border-radius: 0.25rem;
          text-decoration: none;
          color: #fff;

          &:hover {
            color: fadeout(white, 35%);
          }

          @media @md-up {
            padding: 0.25rem 0.9rem;
          }

          .text {
            text-align: right;
            font-size: 1.1em;
            font-weight: 600;
            letter-spacing: 0.1rem;
            line-height: 1.3;
            margin-right: 7px;
          }
        }
      }
    }
  }
}