.login-signup {

  .ant-card-head {
    text-align: center;

    .ant-card-head-title {
      padding-bottom: 0.4em;
    }

    .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        justify-content: center;
      }

      .ant-tabs-tab-active {
        font-weight: bold;
      }
    }

    .ant-card-head-title {
      white-space: normal;
    }

  } // @END .ant-card-head


} // @END .login-signup